# Secrets & environment
.env
.streamlit/secrets.toml

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
